
* {
  box-sizing: border-box;
}

.editorWrapper {
  min-height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 30px;
  text-align: center;
}
.editorContainer {
  min-height: 200px;
  padding: 10px;
  text-align: left;
  width: 100%;
  border: 1px solid #000;
  cursor: text;
  border-radius: 10px;
}

.blogForm{
  display: flex;
  flex-grow: 1;
  margin-bottom: 30px;

}
.blogForm .blogTitle{
  width: 100%;
  margin-right: 30px;

}